@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'robotoi';
    src: url(fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: 'RobotoBold';
    src: url(fonts/Roboto-ExtraBold.ttf);
}
.header {
  padding-bottom: 10px;
  flex:1;
}
h1{
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    font-family: 'robotobold';
    text-align: center;
}
.amd-container{
  display: flex;
  flex:1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap:10px;
}
.amd-item{
width:15%;
height:500px;
margin: 50px;
border:2px solid #3882f6;
border-radius: 12px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.amd-item img {
  height:200px;
  width:200px;
  border-radius:12px;
}
.amd-item-spec {
  font-size: 16px;
  font-family: 'roboto';
  display:inline-block;
  text-align: center;
}
.CPU {
  font-size: 16px;
  font-family: 'robotoI';
  margin-top: 5px;
  margin-bottom: 5px;
  color: #1F2937;
}
.GPU {
  font-size: 16px;
  font-family: 'roboto';
  font-family: 'robotoi';
  color:#1F2937;
  margin-top: 5px;
  margin-bottom: 5px;
}
.RAM {
  font-family: 'robotoi';
  color:#1F2937;
   margin-top: 5px;
  margin-bottom: 5px;
}
.amd-item button {
    background-color: #3882f6;
    color:#e5e7eb;
    border:none;
    border-radius: 8px;
    font-size:18px;
    cursor:pointer;
    margin:20px;
}
@media (max-width:1320px) {
  .amd-item img {
    height:150px;
    width:150px
  }
  .amd {
    row-gap: 2rem;
  }
  .amd-item{
    padding:50px;
    }
}
@media (max-width:1150px) {
  .amd-item img {
    height:125px;
    width:125px
  }
  .amd-item{
    margin-right: 115px;
    margin-left: 115px;
  }
}
@media (max-width:970px) {
  .amd-item img {
    height:125px;
    width:125px
  }
  .amd-item{
    margin-right: 75px;
    margin-left: 75px;
  }
}
@media(max-width:750px) {
  .amd-container{
    gap:8px
  }
  .amd-item img {
    height:125px;
    width:125px
  }
  .amd-item{
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media (max-width:600px) {
    .amd-container {
        column-gap: 50px;
        row-gap: 24px;
    }
    .amd-container img {
        height:150px;
        width: 150px;
    }
}
.about-amd {
  display:flex;
  justify-content: space-around;
  width: 100%;
}
.about-amd-info {
  background-color: #e5e7eb;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  padding:20px;
}